@import url('assets/css/main.css');
.h-our-history a.dg-hb-btn{
	color: #fff;
	border-color: #fff;
}
.h-our-history a.dg-hb-btn:hover{
	background: #fff;
	color: #000;
}   
  
.fea-watch-sec span{
	right: 40%;
	background-size: auto 100%!important;
}
.fea-juwellary-sec-inr, .fea-watch-sec-inr{
	z-index: 11;
}

