@font-face {
    font-family: 'CactusLight';
    src: url('CactusLight/CactusLight.eot');
    src: url('CactusLight/CactusLight.eot?#iefix') format('embedded-opentype'),
        url('CactusLight/CactusLight.woff2') format('woff2'),
        url('CactusLight/CactusLight.woff') format('woff'),
        url('CactusLight/CactusLight.ttf') format('truetype'),
        url('CactusLight/CactusLight.svg#CactusLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CactusMedium';
    src: url('CactusMedium/CactusMedium.eot');
    src: url('CactusMedium/CactusMedium.eot?#iefix') format('embedded-opentype'),
        url('CactusMedium/CactusMedium.woff2') format('woff2'),
        url('CactusMedium/CactusMedium.woff') format('woff'),
        url('CactusMedium/CactusMedium.ttf') format('truetype'),
        url('CactusMedium/CactusMedium.svg#CactusMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CabinBold';
    src: url('CabinBold/CabinBold.eot');
    src: url('CabinBold/CabinBold.eot') format('embedded-opentype'),
         url('CabinBold/CabinBold.woff2') format('woff2'),
         url('CabinBold/CabinBold.woff') format('woff'),
         url('CabinBold/CabinBold.ttf') format('truetype'),
         url('CabinBold/CabinBold.svg#CabinBold') format('svg');
}
@font-face {
    font-family: 'NunitoSansRegular';
    src: url('NunitoSansRegular/NunitoSansRegular.eot');
    src: url('NunitoSansRegular/NunitoSansRegular.eot') format('embedded-opentype'),
         url('NunitoSansRegular/NunitoSansRegular.woff2') format('woff2'),
         url('NunitoSansRegular/NunitoSansRegular.woff') format('woff'),
         url('NunitoSansRegular/NunitoSansRegular.ttf') format('truetype'),
         url('NunitoSansRegular/NunitoSansRegular.svg#NunitoSansRegular') format('svg');
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('ProximaNova-Semibold/ProximaNova-Semibold.eot');
    src: url('ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Semibold/ProximaNova-Semibold.woff2') format('woff2'),
        url('ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'),
        url('ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype'),
        url('ProximaNova-Semibold/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

