@font-face {
    font-family: 'CactusLight';
    src: url('CactusLight/CactusLight.eot');
    src: url('CactusLight/CactusLight.eot?#iefix') format('embedded-opentype'),
        url('CactusLight/CactusLight.woff2') format('woff2'),
        url('CactusLight/CactusLight.woff') format('woff'),
        url('CactusLight/CactusLight.ttf') format('truetype'),
        url('CactusLight/CactusLight.svg#CactusLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CactusMedium';
    src:url('CactusMedium/CactusMedium.woff2') format('woff2'),
        url('CactusMedium/CactusMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

