/*
------------------------
 about-image-text-grids
------------------------
*/
.about-image-text-grids{
	padding-top: 280px;
	padding-bottom: 200px;
	position: relative;
}
.about-image-text-grids span{
	position: absolute;
	top: -75px;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.about-image-text-grids-prd .itg-odd .image-text-grid-desc{
	padding-right: 60px;
}
.about-image-text-grids-prd .image-text-grid-cntlr,
.about-image-text-grids .image-text-grid-cntlr{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    flex-wrap: wrap;
}
.about-image-text-grids .image-text-grid-fea-img{
    min-height: 720px;
    order: 1;
}
.about-image-text-grids .itg-odd .image-text-grid-desc {
    order: 2;
    padding-left: 100px;
    padding-right: 0;
}
.about-text-grid-btn a{
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    background: transparent;
    color: #1D1D1B;
    width: 215px;
    height: 48px;
    border: 2px solid #1D1D1B;
    text-transform: uppercase;
    letter-spacing: 0.1em;
	text-align: center;
	padding: 15px 85px 15px 55px;
	position: relative;
}
.about-text-grid-btn a:last-child{
	margin-left: 16px;
}
.about-text-grid-btn a:after{
	content: "";
	position: absolute;
	right: 58px;
	top: 19px;
	background:url(../images/image-text-angle.svg);
	background-repeat: no-repeat;
	background-size: 13px 6px;
	width: 13px;
	height: 6px;
}
.about-text-grid-btn a:hover{
	color: #fff;
	background: #000;
}
.about-text-grid-btn a:hover:after{
	background:url(../images/image-text-angle-hover.svg);
}
.about-image-text-grids-prd{
	padding-top: 180px;
	padding-bottom: 190px;
	background:#f8f8f8;
}

.about-fea-juwellary-sec .fea-juwellary-des {
    max-width: 720px;
    padding-left: 80px;
}
.about-fea-juwellary-sec .fea-juwellary-des p{
	font-weight: 400;
}
.about-fea-juwellary-sec .fea-jwlr-title{
	font-family: 'CactusLight';
	font-weight: 300;
	color: #1D1D1B;
	margin-bottom: 8px;

}
.about-fea-juwellary-sec .dg-btn{
	width: 220px;
	padding: 16px 35px 14px 35px;
}
.about-fea-juwellary-des-rgt{
	float: right;
	padding-left: 0 !important;
	padding-right: 80px;
}
.fea-juwellary-des a:hover{
	color: #fff;
}
/*
-------------------------
about-team-member-sec-wrp
-------------------------
*/
.about-team-member-sec-wrp{
	padding-top: 190px;
	padding-bottom: 200px;
}
.about-team-member-head{
	max-width: 720px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 40px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #1D1D1B;
	font-family: 'NunitoSansRegular';
}
.about-team-member-head-title{
	display: block;
	font-size: 60px;
	line-height: 1;
	letter-spacing: 0.1em;
	text-transform: capitalize;
	color: #1D1D1B;
	margin-bottom: 50px;
}
.about-team-member-img{
	min-height: 680px !important;
	margin-bottom: 60px;
}
.about-team-member-btn a{
	display: inline-block;
	vertical-align: baseline;
	letter-spacing: 0.1em;
	text-decoration-line: underline;
	text-transform: uppercase;
	color: #1D1D1B;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	text-align: center;
}
.about-team-member-btn a:hover{
	color: #FF674D;
}
.about-image-text-grids-prd .image-text-grid-btn .dg-btn:hover{
	border-color:#000;
	color: #fff;
}

/*
------------------
 Responsive css
------------------
*/

@media(max-width: 1199px){
	.about-image-text-grids {
	    padding-top: 230px;
	    padding-bottom: 170px;
	}	
	.about-image-text-grids .itg-odd .image-text-grid-desc {
	    padding-left: 70px;
	}
	.about-text-grid-btn a {
	    width: 190px;
	    height: 48px;
	    padding: 15px 60px 15px 40px;
	}
	.about-text-grid-btn a:after{
		right: 50px;
	}
	.about-image-text-grids .image-text-grid-fea-img {
	    min-height: 670px;
	}
	.about-image-text-grids-prd {
	    padding-top: 150px;
	    padding-bottom: 160px;
	}
	.about-fea-juwellary-sec{
	    min-height: 950px;
	}
	.fea-jwlr-title {
	    font-size: 55px;
	}
	.about-team-member-sec-wrp {
	    padding-top: 150px;
	    padding-bottom: 170px;
	}
	.about-team-member-head-title {
	    font-size: 55px;
	}
	.about-team-member-img {
	    min-height: 650px !important;
	}
}

@media(max-width: 991px){
	.about-image-text-grids {
	    padding-top: 200px;
	    padding-bottom: 140px;
	}
	.about-image-text-grids .itg-odd .image-text-grid-desc {
	    padding-left: 40px;
	}
	.about-text-grid-btn a {
	    width: 150px;
	    padding: 15px 40px 15px 20px;
	}
	.about-text-grid-btn a:after {
	    right: 30px;
	}
	.about-image-text-grids .image-text-grid-fea-img {
	    min-height: 640px;
	}
	.about-image-text-grids .image-text-grid-desc p {
	    font-size: 16px;
	    margin-bottom: 25px;
	}
	.about-image-text-grids-prd .itg-odd .image-text-grid-desc {
	    padding-right: 35px;
	}
	.about-image-text-grids-prd {
	    padding-top: 120px;
	    padding-bottom: 140px;
	}
	.about-fea-juwellary-sec{
	    min-height: 890px;
	}
	.about-fea-juwellary-sec .fea-juwellary-des {
	    max-width: 600px;
	    padding-left: 0;
	    margin: 0 auto;
	}
	.about-fea-juwellary-des-rgt {
	    float: none;
	    padding-left: 0 !important;
	    padding-right: 0;
	}
	.fea-jwlr-title {
	    font-size: 50px;
	}
	.about-team-member-sec-wrp {
	    padding-top: 130px;
	    padding-bottom: 140px;
	}
	.about-team-member-head-title {
	    font-size: 50px;
	}
	.about-team-member-img {
	    min-height: 620px !important;
	}
}

@media(max-width: 767px){
	.about-image-text-grids {
	    padding-top: 170px;
	    padding-bottom: 100px;
	}
	.about-image-text-grids .itg-odd .image-text-grid-desc {
	    padding-left: 0;
	}
	.about-image-text-grids .image-text-grid-fea-img {
	    min-height: 580px;
	}
	.about-image-text-grids-prd .itg-odd .image-text-grid-desc {
	    padding-right: 0;
	}
	.about-image-text-grids-prd {
	    padding-top: 90px;
	    padding-bottom: 120px;
	}
	.about-fea-juwellary-sec{
	    min-height: 830px;
	}
	.about-fea-juwellary-sec .fea-juwellary-des {
	    max-width: 420px;
	    padding-left: 0;
	    margin: 0 auto;
	}
	.fea-jwlr-title {
	    font-size: 47px;
	}
	.about-team-member-sec-wrp {
	    padding-top: 100px;
	    padding-bottom: 110px;
	}
	.about-team-member-head-title {
	    font-size: 47px;
	    margin-bottom: 40px;
	}
	.about-team-member-img {
	    min-height: 580px !important;
	}
	.about-team-member-head{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media(max-width: 575px){
	.about-image-text-grids .image-text-grid-fea-img {
	    min-height: 500px;
	}
	.about-image-text-grids {
	    padding-top: 160px;
	    padding-bottom: 80px;
	}
	.about-image-text-grids-prd {
	    padding-top: 80px;
	    padding-bottom: 100px;
	}
	.about-fea-juwellary-sec{
	    min-height: 750px;
	}
	.fea-jwlr-title {
	    font-size: 44px;
	}
	.about-team-member-sec-wrp {
	    padding-top: 80px;
	    padding-bottom: 100px;
	}
	.about-team-member-head-title {
	    font-size: 44px;
	    margin-bottom: 30px;
	}
	.about-team-member-img {
	    min-height: 540px !important;
	}

}

@media(max-width: 479px){
	.about-image-text-grids .image-text-grid-fea-img {
	    min-height: 450px;
	}
	.about-text-grid-btn a {
	    display: block;
	    margin-left: auto !important;
	    margin-right: auto !important;
	}
	.about-text-grid-btn a:last-child {
	    margin-top: 20px;
	}
	.about-team-member-img {
	    min-height: 500px !important;
	}

}

@media(max-width: 359px){

}
