
.video-fencybox{
	padding: 132px 0 32px 0;
}
.video-fencybox-inr{
	text-align: center;
}
.vf-title{
	font-size: 60px;
	text-transform: capitalize;
	line-height: 1;
	margin-bottom: 10px;
}
.vf-sub-title{
	margin-bottom: 65px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
}
.vf-desc{
	max-width: 858px;
	width: 100%;
	margin: auto;
	margin-bottom: 80px;
}
.vf-desc p{
	font-size: 22px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1D1D1B;
}
.video-fencybox-cntlr{
	overflow: hidden;
	height: 770px;
	position: relative;
	text-align: center;
	z-index: 1;
}
.vf-video-play-cntlr i{
	color: #000;
	width: 88px;
	height: 88px;
	border: 2px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-family: FontAwesome;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.vf-video-play-cntlr i:hover{
	color: #fff;
	border-color: #fff;
}
.video-fencybox-cntlr:hover .vf-img{
	transform: scale(1.08);
}
.vf-img{
	height: 100%;
	width: 100%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.vf-video-play-cntlr{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
	width: 220px;
}
.vf-cntlr-video-title{
	font-size: 60px;
}
.vf-cntlr-video-title a{
	display: inline-block;
	color: #1D1D1B;
}
.vf-cntlr-video-title a:hover{
	color: #fff;
}

.msd-products{

}
.msd-products-inr{
	padding-top: 50px;
}
.msd-products-inr > ul{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
	flex-wrap: wrap;
}
.msd-products-inr > ul > li{
	padding: 0 14px;
	position: relative;
	margin-bottom: 28px;
}
.msd-products-inr > ul > li:after{
	content: "";
	position: absolute;
	right: -3px;
	top: 4px;
	background: url('../images/collection-pg-menu-icon.png');
	width: 7px;
	height: 17px;
}
.msd-products-inr > ul > li:last-child:after{
	content: none;
}
.msd-products-inr > ul > li > a{
	font-size: 14px;
	text-transform: uppercase;
	color: #1D1D1B;
}
.msd-products-inr > ul > li > a:hover,
.msd-products-inr > ul > li.current-item > a{
	color: #FF674D;
}
.mobile-clsn-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 40px;
	display: none;
}
.mobile-clsn-menu-title{
	font-family: CactusMedium;
	line-height: 1;
	letter-spacing: 0.04em;
	font-size: 20px;
	margin-bottom: 0;
	margin-right: auto;
	color: #7D7D7D;
}
.mobile-clsn-menu-cntlr{
	margin-left: auto;
	position: relative;
	cursor: pointer;
}
.mobile-clsn-menu-cntlr strong{
	font-weight: 600;
	font-size: 14px;
	color: #FF674D;
	padding-right: 32px;
	line-height: 1;
	margin-bottom: 0;
	z-index: 25;
	position: relative;
}
.mobile-clsn-menu-cntlr strong:after {
    content: "\f0d7";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #FF674D;
    font-size: 12px;
    padding-right: 0;
    position: absolute;
    top: 3px;
    right: 0;
    line-height: 15px;
    transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
    z-index: 21;
}
.mobile-clsn-menu-btn:after{
	transform: rotate(180deg);
}
.mobile-clsn-menu-cntlr ul{
    position: absolute;
    left: -15px;
    right: 0;
    width: 170px;
    top: -4px;
    padding: 31px 10px 5px 0;
    opacity: 0;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
    padding-left: 15px;
    background: #fff;
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.04);
    z-index: 23;
}
.mobile-clsn-menu-cntlr ul.mbl-clsn-actv-menu{
	opacity: 1;
    transform: scale3d(1,1,1);
}
.mobile-clsn-menu-cntlr ul > li{
	padding: 4px 0;
}
.mobile-clsn-menu-cntlr ul > li > a{
	color: #FF674D;
	font-size: 14px;
	line-height: 1.3;
	display: inline-block;
	font-weight: 600;
	text-transform: uppercase;
}
.msd-products-cntlr{

}
.msd-products-cntlr > ul{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 -13px;
}
.msd-product-list-pb{
	padding-bottom: 45px!important;
}
.msd-products-cntlr > ul > li{
	padding: 0 13px;
	width: 33.33%;
	margin-bottom: 45px;
}
.msd-products-cntlr > ul > li:nth-child(3n+1){
	clear: left;
}
.msd-product-item{
	position: relative;
	background: #fff;
}
.msd-product-item-img{
	min-height: 440px;
	z-index: 1;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.msd-product-item:hover .msd-product-item-hover{
	opacity: 1;
}
.msd-product-item:hover .msd-product-item-img{
	opacity: 0;
}
.msd-product-item-hover{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 25px;
	border: 2px solid #FF674D;
	opacity: 0;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	background: rgba(255,255,255,.8);
	z-index: 3;
}
.msd-product-item-hover-img-cntlr{
	height: 320px;
	position: relative;
	margin-bottom: 60px;
}
.msd-product-item-hover-img{
	height: 100%;
	width: 100%;
}
.msd-product-item-hover-mblac-img{
	height: 100%;
	width: 100%;
	display: none;
}
.wished-card-icon{
	display: inline-block;
	position: absolute;
	top: 20px;
	right: 20px;
	font-family: FontAwesome;
	color: #1D1D1B;
	z-index: 22;
}
.wished-card-icon:hover,
.active{
	color: red;
}
.msd-product-item-hover-desc{
	text-align: center;
}
.msd-product-item-hover-title{
	font-size: 36px;
	line-height: 1;
	margin-bottom: 22px;
}
.msd-product-item-hover-desc a{
	display: inline-block;
	padding-right: 15px;
	position: relative;
	color: #1D1D1B;
	transition: all 0.1s;
	-ms-transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
.msd-product-item-hover-desc a i{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	margin-top: 1px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.msd-product-item-hover-desc a:hover{
	color: #FF674D;
}
.msd-product-item-hover-desc a:hover i{
	margin-right: -5px;
}

.pagination-cntlr{
	padding-top: 110px;
	padding-bottom: 95px;
	position: relative;
}
.pagination-cntlr:after{
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	background: #F8F8F8;
}
.pagination-cntlr > ul{
	display: flex;
	align-items: center;
	justify-content: center;

}
.pagination-cntlr > ul > li{
	padding: 0 27px;
	margin-bottom: 20px;
}
.pagination-cntlr > ul > li > a,
.pagination-cntlr > ul > li > span{
	display: inline-block;
	color: #1D1D1B;
	padding: 0 5px;
	padding-bottom: 10px;
	line-height: 1;
	border-bottom: 4px solid transparent;
	font-weight: 600;

}
.pagination-cntlr > ul > li > a:hover{
	color: #FF674D;
}
.pagination-cntlr > ul > li > span.current,
.pagination-cntlr > ul > li > a.current{
	color: #FF674D;
	border-color: #FF674D;
}

.blockquote-sec{
	padding: 115px 0;
}
.blockquote-cntlr{
	max-width: 840px;
	margin: auto;
}
.blockquote-cntlr blockquote{
	text-align: center;
	margin-bottom: 0;
}
.blockquote-cntlr blockquote i{
	display: inline-block;
	margin-bottom: 35px;
}
.blockquote-cntlr blockquote span{
	font-family: 'CactusLight';
	font-size: 60px;
	line-height: 1;
	color: #1D1D1B;
	margin-bottom: 20px;
	display: inline-block;
	font-weight: 300;
}
.blockquote-cntlr blockquote strong{
	font-weight: 500;
	font-size: 16px;
	line-height: 1;
	margin-bottom: 0;
	color: #1D1D1B;
}

.clsn-image-text-grids{
	padding: 100px 0 0 0;
	background: #f8f8f8;
}

/*responsive*/
@media(max-width: 1299px){
	
}
@media(max-width: 1199px){
	.video-fencybox-cntlr{
		height: 720px;
	}
	.vf-desc p{
		font-size: 20px;
	}
	.blockquote-cntlr blockquote span{
		font-size: 55px;
	}
}
@media(max-width: 991px){
	.video-fencybox{
		padding-top: 110px;
	}
	.vf-title{
		font-size: 55px;
	}
	.vf-desc{
		margin-bottom: 75px;
	}
	.vf-desc p{
		font-size: 18px;
	}
	.video-fencybox-cntlr{
		height: 680px;
	}
	.vf-cntlr-video-title{
		font-size: 55px;
	}
	.vf-video-play-cntlr i{
		width: 82px;
		height: 82px;
	}
	.msd-products-cntlr > ul{
		padding: 0 20px;
	}
	.msd-products-cntlr > ul > li{
		width: 50%;
	}
	.msd-products-cntlr > ul > li:nth-child(3n+1){
		clear: initial;
	}
	.msd-products-cntlr > ul > li:nth-child(2n+1){
		clear: left;
	}
	.blockquote-sec{
		padding: 100px 0;
	}
	.blockquote-cntlr blockquote span{
		font-size: 50px;
	}
}
@media(max-width: 767px){
	.video-fencybox{
		padding-top: 94px;
	}
	.vf-desc{
		margin-bottom: 70px;
	}
	.vf-title{
		font-size: 49px;
	}
	.vf-desc p{
		font-size: 16px;
	}
	.video-fencybox-cntlr{
		height: 580px;
	}
	.vf-cntlr-video-title{
		font-size: 49px;
	}
	.vf-video-play-cntlr i{
		width: 77px;
		height: 77px;
	}
	.msd-products-cntlr > ul{
		padding: 0;
	}
	.msd-product-item-hover-img-cntlr{
		margin-bottom: 45px;
	}
	.msd-product-item-hover-title{
		font-size: 32px;
	}
	.pagination-cntlr > ul > li{
		padding: 0 22px;
	}
	.blockquote-sec{
		padding: 90px 0;
	}
	.blockquote-cntlr blockquote span{
		font-size: 45px;
	}
}
@media(max-width: 639px){
	.msd-products-cntlr > ul{
		margin: 0;
	}
	.msd-products-cntlr > ul > li{
		width: 100%;
		padding: 0;
		margin-bottom: 40px;
	}
	.msd-products-cntlr > ul > li:nth-child(2n+1){
		clear: initial;
	}
	.msd-product-item{
		max-width: 370px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.msd-product-item-img{
		display: none;
	}
	.msd-product-item-hover-img-cntlr{
		height: 195px;
	}
	.msd-product-item-hover{
		opacity: 1;
		padding: 0;
		background: #f8f8f8;
		border: none;
		position: initial;
	}
	.msd-product-item-hover-desc{
		padding-bottom: 32px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.msd-product-item-hover-img{
		display: none;
	}
	.msd-product-item-hover-mblac-img{
		display: block;
	}
	.msd-product-item-hover-title{
		margin-bottom: 30px;
	}
	.wished-card-icon{
		right: 10px;
		top: 10px;
		font-size: 20px;
	}
	.pagination-cntlr{
		padding: 70px 0 60px;
	}
	.pagination-cntlr > ul > li{
		padding: 0 18px;
	}
	.pagination-cntlr:after{
		left: -20px;
		right: -20px;
	}
	.blockquote-cntlr blockquote span{
		font-size: 40px;
		margin-bottom: 27px;
	}
	.msd-product-list-pb{
		padding-bottom: 0!important;
	}
}
@media(max-width: 575px){
	.video-fencybox{
		padding-top: 74px;
	}
	.vf-desc{
		margin-bottom: 65px;
	}
	.vf-title{
		font-size: 44px;
	}
	.vf-sub-title{
		font-size: 16px;
	}

	.vf-desc p{
		font-size: 14px;
	}
	.video-fencybox-cntlr{
		height: 480px;
	}
	.vf-cntlr-video-title{
		font-size: 44px;
	}
	.vf-video-play-cntlr i{
		width: 72px;
		height: 72px;
	}
	.msd-products-inr > ul{
		display: none;
	}
	.mobile-clsn-menu{
		display: flex;
	}
	.video-fencybox{
		padding-bottom: 0;
	}
	.msd-products-inr{
		padding-top: 40px;
	}
	.pagination-cntlr > ul > li{
		padding: 0 13px;
	}
	.blockquote-sec{
		padding: 80px 0;
	}
	.blockquote-cntlr blockquote i{
		margin-bottom: 30px;
	}
	.blockquote-cntlr blockquote span{
		font-size: 36px;
	}
}
@media(max-width: 479px){

}
@media(max-width: 359px){

}