/**
All Transitions
*/
.tm-post-grid-innr:hover .tm-post-grid-img,
a,input,img,textarea,button,svg,.hdr-wishlist-btn strong,.hf-img,
.search-result-product-wrp .image-text-grid-fea-img div,
.blg-tabs-gird-img,
.blg-watch-img,
.wb-gallery-two-grid-fea-img,
.fea-jlpi-grd-item-img,
.jco-grd-item-img,
.wd-pro-grd-col-fea-img,
.wb-gallery-two-grid-fea-img,
.dftGallerySlideItemImg{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.tm-post-grid-innr:hover .tm-post-grid-img,
.scale,.search-result-product-wrp .image-text-grid-fea-img:hover div,
.wd-pro-grd-col:hover a img,
.blg-tabs-gird-item:hover .blg-tabs-gird-img,
.blg-watch-wrp:hover .blg-watch-img,
.wb-gallery-two-grid-inr:hover .wb-gallery-two-grid-fea-img,
.fea-jlpi-grd-item-ctlr:hover .fea-jlpi-grd-item-img,
.jco-grd-item-ctlr:hover .jco-grd-item-img,
.wd-pro-grd-col:hover .wd-pro-grd-col-fea-img,
.wb-gallery-two-grid-inr:hover .wb-gallery-two-grid-fea-img,
.dftGallerySlideItem > div:hover .dftGallerySlideItemImg{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.blg-watch-wrp,
.wb-gallery-two-grid-inr,
.fea-jlpi-grd-item-ctlr,
.jco-grd-item-ctlr,
.wd-pro-grd-col,
.wb-gallery-two-grid-inr,
.dftGallerySlideItem > div,
.dftGallerySlideItemImgCntlr{
	overflow: hidden;
	position: relative;
}

/**
All Hovers
*/
a:focus,button:focus,input:focus,textarea:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
nav.main-nav ul li:hover > a,
nav.main-nav ul li.current-menu-item a{

}




/*button hover */

.dg-btn:hover,
.dg-hb-btn:hover{
	border-color: #1D1D1B;
	color: #fff;
	background: #1D1D1B;
}

.dft-fea-watch-module a.dg-btn:hover,
.wb-gallery-full-grid-dsc a:hover{
	background: #fff!important;
	color: #1D1D1B!important;
	border-color: #fff!important;
}