/**
All Transitions
*/
.tm-post-grid-innr:hover .tm-post-grid-img,
a,input,img,textarea,button,svg,.hdr-wishlist-btn strong,.hf-img,
.search-result-product-wrp .image-text-grid-fea-img div{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.tm-post-grid-innr:hover .tm-post-grid-img,
.scale,.search-result-product-wrp .image-text-grid-fea-img:hover div{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}

/**
All Hovers
*/
a:focus,button:focus,input:focus,textarea:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
nav.main-nav ul li:hover > a,
nav.main-nav ul li.current-menu-item a{

}




/*button hover */

.dg-btn:hover,
.dg-hb-btn:hover{
	border-color: #1D1D1B;
	color: #fff;
	background: #1D1D1B;
}

.dft-fea-watch-module a.dg-btn:hover,
.wb-gallery-full-grid-dsc a:hover{
	background: #fff!important;
	color: #1D1D1B!important;
	border-color: #fff!important;
}