/*
-------------------
 Footer Css
-------------------
*/
.ftr-top{
    padding-top: 145px;
    padding-bottom: 60px;
}
.ftr-col-tp-lft{
	width: 27%;
	float: left;
	padding-right: 80px;
}
.ftr-col-tp-rgt{
	width: 73%;
	float: right;
}
.ftr-logo a {
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    max-width: 230px;
    width: 100%;
}
.ftr-logo a:nth-child(1) img{
	padding-bottom: 30px;
	padding-left: 15px;
}
.ftr-col-tp-bdr {
    border-top: 1px solid #1D1D1B;
    position: relative;
    margin-top: 40px;
    margin-bottom: 70px;
}

.ftr-col-tp-bdr ul{
	position: absolute;
	right: 0;
	top: 0;
}
.ftr-col-tp-bdr .dg-select-field .bootstrap-select button {
    border: 1px solid #1D1D1B !important;
    width: 150px !important;
    height: 48px !important;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1D1D1B;
    font-weight: 400;
    padding: 13px 20px 14px 35px !important;
    margin-top: -26px;
    background: #fff !important;
}
.ftr-col-tp-bdr .dg-select-field .dropdown-toggle::before{
    right: 35px;
}

.ftr-col-3,
.ftr-col-2{
	width: 22%;
	float: left;
    padding-right: 15px;
}
.ftr-col-4{
	width: 25%;
	float: left;
    padding-right: 15px;
}
.ftr-col-5{
	width: 31%;
	float: left;
}
.ftr-title{
	display: block;
	font-size: 24px;
	line-height: 26px;
	color: #1D1D1B;
	font-style: normal;
	margin-bottom: 25px;
    font-family: 'CactusMedium';
}
.ftr-col ul li span,
.ftr-col ul li{
    padding: 0;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.06em;
}
.ftr-col-2 ul li{
    font-family: 'Montserrat', sans-serif;
}
.ftr-col-4 ul li span,
.ftr-col-4 ul li{
    margin-bottom: 22px;
}
.ftr-col ul li a span,
.ftr-col ul li a {
    color: #7D7D7D;
}
.ftr-btm-col ul li a:hover,
.ftr-social ul li a:hover,
.ftr-col ul li a span:hover,
.ftr-col ul li a:hover{
    color:#FF674D; 
}
.ftr-social ul li a:hover i svg{
    fill: #FF674D;
}
.ftr-social ul li {
    float: left;
    display: inline-block;
    margin-right: 8px;
}
.ftr-social ul li a{
    display: inline-block;
    vertical-align: baseline;
}
.from-group-wrp{
    padding-top: 7px;
}
.ftr-top-newsletter .from-group{
	padding-bottom: 12px;
}
.ftr-top-newsletter .from-group input{
    width: 100%;
    border: 2px solid #EDEDED;
    padding: 18px 24px 20px;
    height: 56px;
    font-size: 14px;
    line-height: 16px;
    color: #7D7D7D;
    font-weight: 300;
    letter-spacing: 0.06em;
}
.ftr-top-newsletter .from-group input:focus{
	border-color: #000;
}
.ftr-top-newsletter .bootstrap-select .dropdown-menu li a span.text{
    display: inline-block;
    margin-bottom: 0 !important;
}
.from-group-sub input[type="submit"] {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #1D1D1B;
    text-align: right;
    position: relative;
    background: transparent;
    padding-right: 15px;
    margin-top: 6px;
    letter-spacing: 0.06em;
    cursor: pointer;
    float: right;
}
.from-group-sub span{
    position: relative;
    display: inline-block;
    margin: 0!important;
}
.from-group-sub{
    text-align: right;
}
.from-group-sub span:after{
	content: "";
	position: absolute;
	width: 4px;
	height: 6px;
	background: url(../images/down-icon.png);
	background-repeat: no-repeat;
	right: 0;
	top: 12px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.from-group-sub span:hover:after{
    background: url(../images/down-icon-hover.png);
    right: -3px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.from-group-sub input[type="submit"]:hover{
    color: #FF674D;
}

.form-group.has-error input {
    border-color: red;
}

.form-control:focus{
    box-shadow: none!important;
}
.contact-error{
    opacity: 0;
}
.was-validated .contact-error{
    opacity: 1;
}
.custom-select.is-invalid,
 .form-control.is-invalid, 
 .was-validated .custom-select:invalid, 
 .was-validated .form-control:invalid,
 .ftr-top-newsletter .from-group input.invalid{
    border-color: #FF674D;
    border-width: 1px;
}

.dg-select-field .select-dep.invalid .bootstrap-select button{
    border-color: #FF674D;
}






.ftr-btm-col{
	border-top: 4px solid#f8f8f8;
	padding-top: 60px;
	padding-bottom: 65px;
}
.ftr-btm-col ul{
	display: table;
	margin: 0 auto;
}
.ftr-btm-col ul li{
    padding: 0;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
}
.ftr-btm-col ul li a {
    color: #7D7D7D;
    display: inline-block;
    vertical-align: baseline;
}
.ftr-btm-col ul li::after {
    content: ""!important;
    position: absolute;
    width: 14px;
    height: 1px;
    background: #7D7D7D;
    top: 50%;
    left: -8px;
}
.ftr-btm-col ul li:first-child:after{
    content: none!important;
}
.from-group ul li{
	margin-bottom: 0 !important;
}
.from-group .ful-wth-slct .bootstrap-select button.btn {
    padding: 18px 24px 18px 24px;
}
.from-group .ful-wth-slct .bootstrap-select button{
	top: 0;
	border: 2px solid #EDEDED !important;
	width: 100% !important;
	height: 56px !important;
	position: static !important;
	text-transform: capitalize;
	color: #7D7D7D;
	font-weight: 300;
    letter-spacing: 0.1em;
}
.from-group .ful-wth-slct .bootstrap-select {
    text-transform: capitalize !important;
    color: #7D7D7D;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    width: 100% !important;
}
.from-group .ful-wth-slct .dropdown-menu{
	background:#EDEDED;
}

/*
------------------
 footer-top-sec-wrp
------------------
*/
.footer-top-sec-wrp{
    min-height: 650px !important;
    padding: 30px 0;
    display: flex;
    align-items: center;
}
.footer-top-sec-wrp:after{
    content: "";
    display: block;
    min-height: inherit;
    font-size: 0;
}
.footer-top-cntlr {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.footer-top-dsc{
    max-width: 725px;
    width: 100%;
    float: right;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1B;
    margin-right: -10px;
}
.footer-top-dsc p{
    margin-bottom: 35px;
}
.footer-top-dsc-title{
    display: block;
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    color: #1D1D1B;
    margin-bottom: 30px;
}
.footer-top-dsc a{
    color: #1D1D1B;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 2px solid #1D1D1B;
    padding: 14px 45px;
}
.footer-top-dsc a:hover{
    background:#000;
    color: #fff;
}



/*
------------------
 Responsive Css
------------------
*/

@media(max-width: 1199px){
    .ftr-col-tp-lft {
        width: 25%;
        padding-right: 40px;
    }
    .ftr-col-tp-rgt {
        width: 75%;
    }
    .ftr-col-3,
    .ftr-col-2 {
        width: 20%;
    }
    .ftr-col-4 {
        width: 29%;
    }
    .ftr-top {
        padding-top: 100px;
    }
    .footer-top-dsc-title {
        font-size: 57px;
    }

}

@media(max-width: 991px){
    .hide-md{
        display: none!important;
    }
    .show-md{
        display: block!important;
    }
    .ftr-top {
        padding-top: 100px;
    }
    .ftr-col-tp-lft {
        width: 100%;
        padding-right: 0;
    }
    .ftr-col-tp-rgt {
        width: 100%;
    }
    .ftr-col-tp-bdr {
        margin-top: 55px;
    }
    .ftr-col-tp-bdr ul {
        position: absolute;
        right: auto;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    .ftr-col-4,
    .ftr-col-3,
    .ftr-col-2 {
        width: 100%;
        padding-right: 0;
        text-align: center;
        padding-bottom: 30px;
    }
    .ftr-social{
        text-align: center;
    }
    .ftr-social ul{
        display: table;
        margin: 0 auto;
    }
    .ftr-col-4 ul li br,
    .ftr-col-4 ul li a br{
        display: block !important;
    }
    .ftr-col-5 {
        width: 100%;
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }
    .ftr-title{
        text-align: center;
    }
    .ftr-btm-col {
        padding-top: 45px;
        padding-bottom: 55px;
    }
    .ftr-col-tp-lft{
        float: none;
        text-align: center;
    }
    .ftr-logo a img:nth-child(1) {
        padding-left: 0;
    }
    .ftr-logo a:nth-child(2){
        max-width: 95px;
        width: 100%;
        padding-bottom: 30px;
    }
    .ftr-logo a {
        margin-left: auto;
        margin-right: auto;
    }
    .footer-top-dsc-title {
        font-size: 54px;
    }
    .footer-top-dsc {
        max-width: 550px;
        width: 100%;
        float: none;
        margin-right: 0;
        margin: 0 auto;
    }
    .footer-top-sec-wrp {
        height: 600px !important;
        padding-top: 255px;
        padding-bottom: 50px;
    }
}

@media(max-width: 767px){
      .ftr-top {
        padding-bottom: 40px;
        padding-top: 75px;
      }
      .ftr-col > ul {
        display: none;
      }
      .ftr-col.ftr-col-4 > ul,
      .ftr-col.ftr-col-2 > ul{
        display: block;
      }
      .ftr-col-3{
        display: none ;
      }
    .ftr-title span {
        display: inline-block;
        vertical-align: baseline;
        position: relative;
    }
    .ftr-col h6 span {
        padding-right: 17px;
    }
   .ftr-col h6 span::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateX(-50%);
        background:url(../images/down-tp-icon.png);
        background-repeat: no-repeat;
        background-size: 6px 4px;
        width: 6px;
        height: 4px;
        -webkit-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
        font-weight: 400;
    }
    .ftr-col h6.active span::after {
        content: "";
        background:url(../images/down-tp-icon.png);
        background:url(../images/down-up-icon.png);
    } 
    .ftr-btm-col ul:first-child{
        padding-bottom: 6px;
    }
    .ftr-col-tp-bdr,
    .ftr-btm-col {
        margin-left: -20px;
        margin-right: -20px;
    }
    .footer-top-dsc-title {
        font-size: 47px;
        margin-bottom: 15px;
    }
    .footer-top-dsc {
        max-width: 380px;
        width: 100%;
    }
    .footer-top-dsc p {
        margin-bottom: 20px;
    }
    .ftr-btm-col ul:last-of-type li:nth-child(1) a::after{
        content: none !important;
    }

}

@media(max-width: 575px){
   .footer-top-dsc-title {
        font-size: 44px;
    } 
    .footer-top-dsc {
        max-width: 335px;
        width: 100%;
    }

}
@media(max-width: 479px){
    .ftr-btm-col ul li {
        padding-left: 8px;
        padding-right: 8px;
    }
    .ftr-btm-col ul li a::after {
        width: 10px;
        height: 1px;
        right: -5px;
    }
    .footer-top-sec-wrp{
        position: relative;
        background:transparent !important;
        background-image: url(../images/footer-top-sec-bg-xs.jpg) !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        background-size: cover !important;
    }
    
    

}

@media(max-width: 359px){
    .footer-top-sec-wrp {
        padding-top: 240px;
    }
}
