header.header{
	background: #FFFFFF;
	position: relative;
	/*-webkit-box-shadow: 0px 16px 8px -2px rgba(249,249,249,1);
	-moz-box-shadow: 0px 16px 8px -2px rgba(249,249,249,1);
	box-shadow: 0px 16px 8px -2px rgba(249,249,249,1);*/

	-webkit-box-shadow: 0px 128px 150px -10px rgba(249,249,249,1);
	-moz-box-shadow: 0px 128px 150px -10px rgba(249,249,249,1);
	box-shadow: 0px 128px 150px -10px rgba(249,249,249,1);
}
.hdr-cntlr{
	position: relative;
}
.hdr-cntlr .col-md-12{
	position: static;
}
/*header:after{
	content: "";
	height: 600px;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	background: linear-gradient(180deg, #F2F2F2 0%, rgba(255, 255, 255, 0) 100%);
	z-index: -1;
}*/
.header-inr{
	min-height: 180px;
	display: flex;
	align-items: center;
}
.hdr-mid{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.logo a{
	display: inline-block;
	vertical-align: baseline;
}
.hdr-lft{
	
}
.hdr-rgt{
	margin-left: auto;
	display: flex;
	align-items: center;
}

.fl-lang{
	padding: 0 0 0 0;
	display: flex;
	align-items: center;
}
.fl-lang-cntlr{
	position: relative;
	min-height: 24px;
	overflow: hidden;
	margin-right: -10px;
	padding-left: 5px;
	min-width: 120px;
}
.fl-lang ul li.lang-active{
	position: relative;
	opacity: 1;
	padding-top: 0;
	
}
.fl-lang ul li{
	position: absolute;
	text-align: left;
	left: 0;
	right: 0;
	padding-right: 32px;
	opacity: 0;
	z-index: 22;
	padding-bottom: 5px;
	padding-left: 10px;;
}
.fl-lang ul li a{
	color: #474747;
	font-size: 14px;
	line-height: 1;
	font-weight: 500;
	text-transform: uppercase;
}
.fl-lang-cntlr:after{
	content: "\f0d7";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #1d1d1b;
    font-size: 13px;
    padding-right: 0;
    position: absolute;
    top: 4px;
    right: 15px;
    line-height: 15px;
    z-index: 21;

}
.fl-lang ul li a:hover,
.hdr-wishlist-btn strong:hover,
.hdr-search button:hover{
	color: #FF674D;
}
.fl-lang-cntlr ul{
	position: absolute;
	left: 0;
	right: 0;
	top: -10px;
	z-index: 20;
	padding: 10px 10px 5px 5px;	
}
.fl-lang-cntlr:hover ul{
	background: rgb(255,255,255);
	-webkit-box-shadow: 0px 0px 14px -2px rgba(240,240,240,1);
	-moz-box-shadow: 0px 0px 14px -2px rgba(240,240,240,1);
	box-shadow: 0px 0px 14px -2px rgba(240,240,240,1);
	text-align: left;
}
.fl-lang-cntlr:hover{
	overflow: initial;
}
.fl-lang-cntlr:hover li.lang-active,
.fl-lang-cntlr:hover li{
	position: relative;
	opacity: 1!important;
	padding-top: 0;
	padding-right: 22px;
}
.fl-lang-cntlr li.lang-active a{
	font-size: 16px;
}
.hdr-wishlist-btn{
	padding-left: 40px;
}
.hdr-wishlist-btn strong{
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	display: inline-block;
	vertical-align: baseline;
	color: #1D1D1B;
	cursor: pointer;
}
.hdr-search{
	padding-left: 45px;
}
.hdr-search input{
	width: 0;
	background: transparent;
}
.hdr-search button{
	background: transparent;
	cursor: pointer;
}

nav.main-nav ul{

}
nav.main-nav ul li{
	display: inline-block;
	vertical-align: baseline;
	text-transform: uppercase;
}
nav.main-nav ul li a{
	color: #1D1D1B;
	font-weight: 600;
}
nav.main-nav > ul{

}
nav.main-nav > ul > li{
	padding: 0 30px;
	position: static;
}
nav.main-nav > ul > li:first-child{
	padding-left: 0;
}
nav.main-nav > ul > li > a{
	position: relative;
	padding-right: 11px;
}

nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}
nav.main-nav > ul > li.menu-item-has-children > a:after{
	content: "\f0d7";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #1d1d1b;
    font-size: 13px;
    padding-right: 0;
    position: absolute;
    top: 3px;
    right: 0;
    line-height: 15px;
    z-index: 21;
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}



.sub-menu-cntlr{
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	background: rgba(255, 255, 255, 0.95);
	padding: 75px 0 80px;
	z-index: 100; 
	border-top: 2px solid #fe674c;
	display: none;
}
.sub-menu-grd-col{
	float: left;
	width: 20%;
}

.sub-menu-grd-col strong{
	display: block;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px
	padding-bottom: 35px;
	color: #1D1D1B;
	letter-spacing: 0.05em;
}
.sub-menu-grd-col ul li{

}
.sub-menu-grd-col ul li a{
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.06em;
	display: inline-block;
	vertical-align: baseline;
	color: #5A5A5A!important;
	font-family: 'Montserrat', sans-serif;
}