.hm-msnry-sec{
	padding: 195px 0;
}


.hm-msnry-sec-ctlr{
	min-height: 1055px;
	position: relative;
}
.hm-msnry-grd-item{
	position: absolute;
	top: 0;
	left: 0;
}
.one{
	top: 60px;
	left: 45px;
	width:  29.4871%;
}
.two{
	top: 0;
	left: 415px;
	width:  37.6068%;
}
.three{
	top: 190px;
	left: 880px;
	width:  29.9145%;
}
.four{
	top: 585px;
	left: 0;
	width: 33.1966%;
}
.five{
	top: 670px;
	left: 415px;
	width:  37.6068%;
}
.six{
	top: 705px;
	left: 880px;
	width: 31.1966%;
}


.hm-msnry-grd-item-ctlr{
	position: relative;
}
.hm-msnry-grd-item-img{
	min-height: 640px;
	height: 100%;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
}
.hm-msnry-grd-item-des{
	position: absolute;
	bottom: 20px;
	left: 20px;
	padding-right: 20px;
}
.one .hm-msnry-grd-item-img,
.three .hm-msnry-grd-item-img{
	min-height: 490px;
	height: 100%;
}
.four .hm-msnry-grd-item-img,
.six .hm-msnry-grd-item-img{
	min-height: 282px;
	height: 100%;
}
.five .hm-msnry-grd-item-img{
	min-height: 385px;
	height: 100%;
}



.hm-msnry-title{
	display: block;
	font-size: 22px;
	line-height: 1.2;
	margin-bottom: 10px;
	font-weight: 500;
	letter-spacing: 0.03em;
	text-transform: capitalize;
	color: #fff;
	font-family: 'Poppins', sans-serif;
}
.four .hm-msnry-title,
.four .hm-msnry-grd-item-des a,
.six .hm-msnry-title,
.six .hm-msnry-grd-item-des a{
	color: #1D1D1B;
}
.hm-msnry-grd-item-des a{
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	padding-right: 15px;
	position: relative;
}
.hm-msnry-grd-item-des a:hover{
	color: #FF674D;
}

.hm-msnry-grd-item-des a i{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	font-size: 12px;
}
.five .hm-msnry-grd-item-des{
	margin-left: 60px;
	margin-bottom: 150px;
}
.five .hm-msnry-grd-item-des a{
	width: 274px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #1D1D1B;
	letter-spacing: 0.1em;
	background: #fff;
	border: 2px solid #fff;
}
.five .hm-msnry-grd-item-des a:hover{
	background: #FF674D;
	border: 2px solid #FF674D;
	color: #fff;
}


.hm-msnr-grd-items ul li:nth-child(5) .hm-msnr-des a:hover{
	background: #FF674D;
	border: 2px solid #FF674D;
	color: #fff;
}



.fea-watch-des{
	max-width: 550px;
	width: 100%;
	margin-left: auto;
	text-align: center;
	position: relative;
	z-index: 3;
}
.fea-watch-des img{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 30px;
}
.fea-watch-des p,
.fea-juwellary-des p{
	font-size: 16px;
	color: #1D1D1B;
	margin-bottom: 20px;
}
.fea-watch-des a,
.fea-juwellary-des a{
	width: 168px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #1D1D1B;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	border: 2px solid #1D1D1B;
	margin-left: auto;
	margin-right: auto;
}
.fea-watch-des a:hover,
.fea-juwellary-des a:hover{
	background: #1D1D1B;
	color: #fff;
}


.fea-juwellary-sec,
.fea-watch-sec{
	background-repeat: no-repeat!important;
	background-position: right center!important;
	min-height: 1012px;
	display: flex;
	align-items: center;
	position: relative;
}
.fea-juwellary-sec-inr,
.fea-watch-sec-inr{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.fea-juwellary-sec:after,
.fea-watch-sec:after{
	content: "";
	display: table;
	min-height: inherit;
	font-size: 0;
}
.fea-watch-sec{
	background-position: left center!important;
}
.fea-juwellary-sec span{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	background-size: cover!important;
	width: 100%;
}
.fea-watch-sec span{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	background-size: 100% 100%!important;
	width: 100%;
}
.fea-juwellary-des{
	max-width: 600px;
	width: 100%;
	position: relative;
	z-index: 2;
	text-align: center;
}

.fea-jwlr-title{
	display: block;
	font-size: 60px;
	line-height: 1;
	margin-bottom: 15px;
	font-weight: 700;
	font-family: 'Cabin', sans-serif;
	color: #1D1D1B;
	text-transform: capitalize;
	letter-spacing: 0.1em;
}