.slick-slider ul.slick-dots{
	position: static;
	height: 16px;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 98px!important;
	height: 8px!important;
	position: static;
	background: #fff!important;
	border-radius: none!important;
	margin: 0 10px;
	padding: 0!important;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.slick-slider .slick-dots li.slick-active,
.slick-slider .slick-dots li:hover{
	background: #FF674D!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 98px!important;
	height: 8px!important;
}
.slick-next,.slick-prev{
	height: 24px;
	width: 24px;
	position: absolute;
	margin: 0;
	padding: 0;
}
.slick-prev{
	background: url('../images/prev-btn.svg')!important;
	background-size: 100% 100%!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.slick-prev:hover{
	background: url('../images/prev-btn-hover.svg')!important;
	background-size: 100% 100%!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.slick-next{
	background: url('../images/next-btn.svg')!important;
	background-size: 100% 100%!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.slick-next:hover{
	background: url('../images/next-btn-hover.svg')!important;
	background-size: 100% 100%!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.slick-prev:before,
.slick-next:before{
    content: none;
}

.gray-gradient-bg{
	/*background: linear-gradient(180deg, #F2F2F2 0%, rgba(255, 255, 255, 0) 100%);*/
}

.fl-tab-content{
	display: none;
}
.fl-tab-content.current{
	display: block;
}
.tab-link{
	width: 212px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	background: #F8F8F8;
	cursor: pointer;
	border: none;
}
.tab-link.current{
	color: #FFFFFF;
	background: #1D1D1B;
}
.fl-tabs{
	display: flex;
	justify-content: center;
}
.fl-tabs > div{
	padding: 0 18px;
}



.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}