.wishlist-tab-con{
	display: none;
}
.wishlist-tab-con.current{
	display: block;
}

.wishlist-process ul li a{
	display: inline-block;
	vertical-align: baseline;
}
.wishlist-process ul li a span,
.wishlist-process ul li a strong{
	cursor: pointer;
}
.wishlist-process ul li a.current span{
	color: #FF674D;
	border: 1px solid #FF674D;
}
.wishlist-process ul li a.current strong{
	color: #FF674D;
}


/*wishlist a css*/

.wishlist-process-sec{
	padding-top: 115px;
	padding-bottom: 120px;
	border-bottom: 4px solid #F7F7F7;
}

.wishlist-entry-hdr,
.wishlist-process{
	text-align: center;
}
.wishlist-entry-hdr-title{
	display: block;
	font-size: 60px;
	line-height: 1;
	margin-bottom: 55px;
	font-weight: 300;
	color: #1D1D1B;
	text-transform: capitalize;
	letter-spacing: 0.1em;
	font-family: 'CactusLight';
}
.wishlist-entry-hdr p{
	font-size: 22px;
	color: #1D1D1B;
	line-height: 30px;
	font-weight: 200;
	margin-bottom: 65px;
}


.wishlist-process{
	padding-bottom: 75px;
	border-bottom: 2px solid #F8F8F8;
}
.wishlist-process ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 50px;
	padding-right: 50px;
	position: relative;
}
.wishlist-process ul li i{
	position: absolute;
	top: 25px;
	right: -2px;
	color: #1D1D1B;
	font-size: 13px;
}


.wishlist-process ul li span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 18px;
	color: #1D1D1B;
	height: 60px;
	width: 60px;
	border-radius: 100%;
	text-align: center;
	border: 1px solid #1D1D1B;
	line-height: 60px;
	margin-bottom: 10px;
}
.wishlist-process ul li strong{
	display: block;
	color: #1D1D1B;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 500;
}
.wishlist-process ul li.active span{
	color: #FF674D;
	border: 1px solid #FF674D;
}
.wishlist-process ul li.active strong{
	color: #FF674D;
}
.wishlist-process ul li.active i{
	color: #1D1D1B;
}



.wishlist-grd-items{
	padding-top: 100px;
}
.wishlist-grd-items ul{
	margin-left: -13px;
	margin-right: -13px;
}
.wishlist-grd-items ul li{
	float: left;
	width: 50%;
	padding-left: 13px;
	padding-right: 13px;
	padding-bottom: 78px;
}

.wishlist-grd-item{
	position: relative;
}
.wishlist-grd-item i{
	position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    z-index: 11;
}
.wishlist-grd-item i:hover svg{
	fill: #FF674D;
}

.wishlist-grd-item-ctlr{
	display: flex;
	align-items: center;
	position: relative;
}
.wishlist-grd-item-ctlr:hover .wishlist-grd-item-img > div{
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
}

.wishlist-grd-item-img{
	width: 50%;
	height: 324px;
	position: relative;
	overflow: hidden;
}
.wishlist-grd-item-img > div{
	width: 100%;
	height: 100%;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.wishlist-grd-item-des{
	width: 50%;
	padding-left: 20px;
}
.wgid-title{
	display: block;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 40px;
	color: #1D1D1B;
	letter-spacing: 0.1em;
	text-transform: capitalize;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}
.wishlist-grd-item-des p{
	color: #1D1D1B;
	letter-spacing: 0.1em;
}




.wishlist-next-step{
	padding-top: 35px;
}
.wishlist-nxt-des{
	float: left;
}
.wishlist-nxt-link{
	float: right;
}
.wishlist-nxt-des p{
	color: #1D1D1B;
	margin: 0;
}
.wishlist-nxt-des p a{
	color: #1D1D1B;
	text-decoration: underline;
}
.wishlist-nxt-des p a:hover,
.wishlist-nxt-link a:hover{
	color: #FF674D;
}
.wishlist-nxt-link a.dg-btn:hover{
	color: #fff;
}

.wishlist-nxt-link a{
	margin-left: 40px;
	color: #1D1D1B;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 400;
}


/*wishlist b css*/ 

.wishlist-success{
	position: relative;
}
.wishlist-success:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 20px;
	width: 28px;
	background: url('../images/wishlist-sucess-icon.png');
	background-repeat: no-repeat!important;
	background-size: 100% 100%!important;
}

.wishlist-form{
	padding-top: 100px;
}



.diveder2 .inputField{
	float: left;
	width: 50%;
	padding-left: 12px;
	padding-right: 12px;
}
.diveder2.inputFields-row{
	margin-left: -12px;
	margin-right: -12px;
}
.inputField{
	width: 100%;
}
.inputField label{
	display: block;
	color: #1D1D1B;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 400;
	margin-bottom: 15px;
}
.inputField input{
	width: 100%;
}
.inputField input[type=text]{
	height: 64px;
    padding-left: 25px;
    color: #7D7D7D;
    background: transparent;
    letter-spacing: 0.06em;
    border: 1px solid #E1E1E1;
    margin-bottom: 20px;
}
.inputField textarea{
	width: 100%;
    height: 212px;
    padding-left: 25px;
    padding-top: 25px;
    color: #7D7D7D;
    resize: none;
    background: transparent;
    letter-spacing: 0.06em;
    border: 1px solid #E1E1E1;
}

.inputField input[type=text]:focus,
.inputField textarea:focus{
    border: 1px solid #1D1D1B;
}

.inputField input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7D7D7D;
  opacity: 1;
}
.inputField input[type=text]::-moz-placeholder { /* Firefox 19+ */
  color: #7D7D7D;
  opacity: 1;
}
.inputField input[type=text]:-ms-input-placeholder { /* IE 10+ */
  color: #7D7D7D;
  opacity: 1;
}
.inputField input[type=text]:-moz-placeholder { /* Firefox 18- */
  color: #7D7D7D;
  opacity: 1;
}


.inputField textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7D7D7D;
  opacity: 1;
}
.inputField textarea::-moz-placeholder { /* Firefox 19+ */
  color: #7D7D7D;
  opacity: 1;
}
.inputField textarea:-ms-input-placeholder { /* IE 10+ */
  color: #7D7D7D;
  opacity: 1;
}
.inputField textarea:-moz-placeholder { /* Firefox 18- */
  color: #7D7D7D;
  opacity: 1;
}



.wishlist-form ul{
	padding-top: 45px;
	padding-bottom: 50px;
	border-bottom: 2px solid #F8F8F8;
}
.wishlist-form ul li{
	padding-left: 35px;
	padding-right: 40px;
	float: left;
}
.wishlist-form ul li label{
	color: #1D1D1B;
    margin-bottom: 0;
}
.wishlist-form input[type=radio]{
	position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    z-index: 1;
}
.wishlist-form span.checkmark{
	position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: 1px solid #E1E1E1;
    border-radius: 100%;
}
.checkmark:after{
	content: "";
	position: absolute;
    display: none;
}
.wishlist-form input:checked ~ .checkmark:after{
	display: block;
}
.wishlist-form .checkmark:after{
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 16px;
    height: 16px;
    background: #FF674D;
    border-radius: 100%;
}


.dg-checkmark{
	position: relative;
	padding-left: 35px;
	margin-top: 45px;
	margin-bottom: 25px;
}
.dg-checkmark input[type="checkbox"]{
	opacity: 0;
}
.dg-checkmark label{
	color: #1D1D1B;
	margin-bottom: 0;
}
.dg-checkmark input[type=radio]{
	position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    z-index: 1;
}
.inputField{
	position: relative;
}
.dg-checkmark span.checkmark{
	position: absolute;
    top: -1px;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: 1px solid #E1E1E1;
    border-radius: inherit;
}

.dg-checkmark span.checkmark:after{
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 16px;
    height: 16px;
    background: #FF674D;
}
.dg-checkmark input[type="checkbox"] + span.checkmark:after{
	width: 13px;
    height: 13px;
    background: #FF674D;
    border-radius: 0;
}
.inputFields-row ul{
	margin-left: -10px;
	margin-right: -10px;
	border-bottom: inherit;
    padding-top: 0;
    padding-bottom: 0;
}
.inputFields-row ul li{
	display: inline-block;
	vertical-align: baseline;
	width:  324px;
	padding-left: 10px;
	padding-right: 10px;
}
.inputFields-row ul.dropdown-menu li{
	width: 100%;
}
.cnt-btn{
    margin-top: 35px;
}
.cnt-btn input[type=submit]{
    width: 168px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1D1D1B;
    border: 2px solid #1D1D1B;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
    cursor: pointer;
}
.cnt-btn input[type=submit]:hover{
    background: transparent;
    color: #1D1D1B;
}


/*wishlist c css*/


.wishlist-entry-hdr span{
	display: inline-block;
	vertical-align: baseline;
	width: 216px;
	height: 216px;
	background: transparent;
	border: 7px solid #1D1D1B;
	border-radius: 100%;
	margin-bottom: 20px;
	position: relative;
}
.wishlist-entry-hdr span:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 82px;
	width: 120px;
	background: url('../images/wishlist-sucess-icon-2.png');
	background-repeat: no-repeat!important;
	background-size: 100% 100%!important;
}


.wishlist-thanks-msg{
	padding-top: 55px;
	text-align: center;
}
.wishlist-thanks-msg p{
	font-size: 16px;
	color: #1D1D1B;
	margin-bottom: 60px;
}
.wishlist-thanks-msg strong{
	font-weight: 400;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #1D1D1B;
}



@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.wishlist-process-sec {
	    padding-top: 108px;
	    padding-bottom: 100px;
	}
	.wishlist-entry-hdr-title {
	    font-size: 55px;
	    margin-bottom: 45px;
	}
	.wishlist-process {
	    padding-bottom: 60px;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.wishlist-process-sec {
	    padding-top: 100px;
	    padding-bottom: 90px;
	}
	.wishlist-entry-hdr-title {
	    font-size: 50px;
	}
	.wishlist-process {
	    padding-bottom: 50px;
	}
	.wishlist-grd-items {
	    padding-top: 90px;
	}
	.wishlist-grd-items ul {
	    margin-left: 0;
	    margin-right: 0;
	}
	.wishlist-grd-items ul li {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	}
	.wishlist-grd-item{
		max-width: 670px;
	    width: 100%;
	    margin: 0 auto;
	}
	.wishlist-next-step {
	    padding-top: 0;
	    text-align: center;
	}
	.wishlist-nxt-des {
	    float: inherit;
	    margin-bottom: 75px;
	}
	.wishlist-nxt-link {
	    float: inherit;
	}
	 .wishlist-form {
        padding-top: 90px;
    }
	.wishlist-entry-hdr p{
		font-size: 20px;
		margin-bottom: 55px;
	}
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.wishlist-entry-hdr-title {
	    font-size: 45px;
	}
	.wishlist-entry-hdr p{
		font-size: 19px;
		margin-bottom: 55px;
	}
	.wishlist-grd-items {
	    padding-top: 80px;
	}
	.wishlist-grd-item {
	    max-width: 300px;
	    width: 100%;
	    margin: 0 auto;
	}
	.wishlist-grd-item-ctlr {
	    display: inherit;
	}
	.wishlist-grd-item-img {
	    width: 100%;
	    height: 270px;
	}
	.wishlist-grd-item-des {
	    width: 100%;
	    padding-left: 0;
	    padding-top: 40px;
	}
	.wishlist-process ul li {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.wishlist-process ul li strong{
		display: none;
	}
	.wishlist-form {
        padding-top: 80px;
    }
    .diveder2.inputFields-row {
        margin-left: 0;
        margin-right: 0;
    }
    .diveder2 .inputField {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .inputFields-row ul li {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 20px;
    }
	.wishlist-grd-item i{
		right: 15px;
		top: 15px;
	}
	.wishlist-process-sec .inputFields-row ul li{
		width: 100%;
	}
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.wishlist-form ul li:first-child{
        padding-bottom: 30px;
    }
    .cnt-btn input[type=submit]{
        width: 274px;
    }
	.wishlist-entry-hdr p{
		font-size: 18px;
		margin-bottom: 50px;
	}
	.wishlist-process ul li span{
		width: 49px;
		height: 49px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.wishlist-process ul li i{
		top: 18px;
	}
	.inputField input[type=text]{
		height: 56px;
	}

}

@media(max-width: 479px){
	

}

@media(max-width: 359px){

}