.wishlist-success{
	position: relative;
}
.wishlist-success:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 20px;
	width: 28px;
	background: url('../images/wishlist-sucess-icon.png');
	background-repeat: no-repeat!important;
	background-size: 100% 100%!important;
}

.wishlist-form{
	padding-top: 100px;
}



.diveder2 .inputField{
	float: left;
	width: 50%;
	padding-left: 12px;
	padding-right: 12px;
}
.diveder2.inputFields-row{
	margin-left: -12px;
	margin-right: -12px;
}
.inputField{
	width: 100%;
}
.inputField label{
	display: block;
	color: #1D1D1B;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 400;
	margin-bottom: 15px;
}
.inputField input{
	width: 100%;
}
.inputField input[type=text]{
	height: 64px;
    padding-left: 25px;
    color: #7D7D7D;
    background: transparent;
    letter-spacing: 0.06em;
    border: 1px solid #E1E1E1;
    margin-bottom: 20px;
}
.inputField textarea{
	width: 100%;
    height: 212px;
    padding-left: 25px;
    padding-top: 25px;
    color: #7D7D7D;
    resize: none;
    background: transparent;
    letter-spacing: 0.06em;
    border: 1px solid #E1E1E1;
}


.inputField input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7D7D7D;
  opacity: 1;
}
.inputField input[type=text]::-moz-placeholder { /* Firefox 19+ */
  color: #7D7D7D;
  opacity: 1;
}
.inputField input[type=text]:-ms-input-placeholder { /* IE 10+ */
  color: #7D7D7D;
  opacity: 1;
}
.inputField input[type=text]:-moz-placeholder { /* Firefox 18- */
  color: #7D7D7D;
  opacity: 1;
}


.inputField textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7D7D7D;
  opacity: 1;
}
.inputField textarea::-moz-placeholder { /* Firefox 19+ */
  color: #7D7D7D;
  opacity: 1;
}
.inputField textarea:-ms-input-placeholder { /* IE 10+ */
  color: #7D7D7D;
  opacity: 1;
}
.inputField textarea:-moz-placeholder { /* Firefox 18- */
  color: #7D7D7D;
  opacity: 1;
}



.wishlist-form ul{
	padding-top: 45px;
	padding-bottom: 50px;
	border-bottom: 2px solid #F8F8F8;
}
.wishlist-form ul li{
	padding-left: 35px;
	padding-right: 40px;
	float: left;
}
.wishlist-form ul li label{
	color: #1D1D1B;
    margin-bottom: 0;
}
.wishlist-form input[type=radio]{
	position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    z-index: 1;
}
.wishlist-form span.checkmark{
	position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: 1px solid #E1E1E1;
    border-radius: 100%;
}
.checkmark:after{
	content: "";
	position: absolute;
    display: none;
}
.wishlist-form input:checked ~ .checkmark:after{
	display: block;
}
.wishlist-form .checkmark:after{
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 16px;
    height: 16px;
    background: #FF674D;
    border-radius: 100%;
}


.dg-checkmark{
	position: relative;
	padding-left: 35px;
	margin-top: 45px;
	margin-bottom: 25px;
}
.dg-checkmark label{
	color: #1D1D1B;
	margin-bottom: 0;
}
.dg-checkmark input[type=radio]{
	position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    z-index: 1;
}

.dg-checkmark span.checkmark{
	position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: 1px solid #E1E1E1;
    border-radius: inherit;
}

.dg-checkmark span.checkmark:after{
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 16px;
    height: 16px;
    background: #FF674D;
}

.inputFields-row ul{
	margin-left: -10px;
	margin-right: -10px;
	border-bottom: inherit;
    padding-top: 0;
    padding-bottom: 0;
}
.inputFields-row ul li{
	display: inline-block;
	vertical-align: baseline;
	width:  324px;
	padding-left: 10px;
	padding-right: 10px;
}

.cnt-btn input[type=submit]{
    width: 168px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1D1D1B;
    border: 2px solid #1D1D1B;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
    cursor: pointer;
}

