.wishlist-process-sec{
	padding-top: 115px;
	padding-bottom: 120px;
	border-bottom: 4px solid #F7F7F7;
}

.wishlist-entry-hdr,
.wishlist-process{
	text-align: center;
}
.wishlist-entry-hdr-title{
	display: block;
	font-size: 60px;
	line-height: 1;
	margin-bottom: 55px;
	font-weight: 300;
	color: #1D1D1B;
	text-transform: capitalize;
	letter-spacing: 0.1em;
	font-family: 'CactusLight';
}
.wishlist-entry-hdr p{
	font-size: 22px;
	color: #1D1D1B;
	line-height: 30px;
	font-weight: 200;
	margin-bottom: 65px;
}


.wishlist-process{
	padding-bottom: 75px;
	border-bottom: 2px solid #F8F8F8;
}
.wishlist-process ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
}
.wishlist-process ul li i{
	position: absolute;
	top: 35%;
	right: 0;
	transform: translate(-50%,-50%);
}


.wishlist-process ul li span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 18px;
	color: #1D1D1B;
	height: 60px;
	width: 60px;
	border-radius: 100%;
	text-align: center;
	border: 1px solid #1D1D1B;
	line-height: 60px;
	margin-bottom: 10px;
}
.wishlist-process ul li strong{
	display: block;
	color: #1D1D1B;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 500;
}
.wishlist-process ul li.active span{
	color: #FF674D;
	border: 1px solid #FF674D;
}
.wishlist-process ul li.active strong{
	color: #FF674D;
}
.wishlist-process ul li.active i{
	color: #1D1D1B;
}



.wishlist-grd-items{
	padding-top: 100px;
}
.wishlist-grd-items ul{
	margin-left: -13px;
	margin-right: -13px;
}
.wishlist-grd-items ul li{
	float: left;
	width: 50%;
	padding-left: 13px;
	padding-right: 13px;
	padding-bottom: 78px;
}

.wishlist-grd-item{
	position: relative;
}
.wishlist-grd-item i{
	position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    z-index: 11;
}
.wishlist-grd-item i:hover svg{
	fill: #FF674D;
}

.wishlist-grd-item-ctlr{
	display: flex;
	align-items: center;
	position: relative;
}

.wishlist-grd-item-img{
	width: 50%;
	min-height: 324px;
	height: 100%;
}
.wishlist-grd-item-des{
	width: 50%;
	padding-left: 20px;
}
.wgid-title{
	display: block;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 40px;
	color: #1D1D1B;
	letter-spacing: 0.1em;
	text-transform: capitalize;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}
.wishlist-grd-item-des p{
	color: #1D1D1B;
	letter-spacing: 0.1em;
}




.wishlist-next-step{
	padding-top: 35px;
}
.wishlist-nxt-des{
	float: left;
}
.wishlist-nxt-link{
	float: right;
}
.wishlist-nxt-des p{
	color: #1D1D1B;
	margin: 0;
}
.wishlist-nxt-des p a{
	color: #1D1D1B;
	text-decoration: underline;
}
.wishlist-nxt-des p a:hover,
.wishlist-nxt-link a:hover{
	color: #FF674D;
}
.wishlist-nxt-link a.dg-btn:hover{
	color: #fff;
}

.wishlist-nxt-link a{
	margin-left: 40px;
	color: #1D1D1B;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 400;
}


@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hide-lg{
		display: none!important;
	}
	.show-lg{
		display: block!important;
	}
	.wishlist-process-sec {
	    padding-top: 108px;
	    padding-bottom: 100px;
	}
	.wishlist-entry-hdr-title {
	    font-size: 55px;
	    margin-bottom: 45px;
	}
	.wishlist-process {
	    padding-bottom: 60px;
	}

}

@media(max-width: 991px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.wishlist-process-sec {
	    padding-top: 100px;
	    padding-bottom: 90px;
	}
	.wishlist-entry-hdr-title {
	    font-size: 50px;
	}
	.wishlist-process {
	    padding-bottom: 50px;
	}
	.wishlist-grd-items {
	    padding-top: 90px;
	}
	.wishlist-grd-items ul {
	    margin-left: 0;
	    margin-right: 0;
	}
	.wishlist-grd-items ul li {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	}
	.wishlist-grd-item{
		max-width: 670px;
	    width: 100%;
	    margin: 0 auto;
	}
	.wishlist-next-step {
	    padding-top: 0;
	    text-align: center;
	}
	.wishlist-nxt-des {
	    float: inherit;
	    margin-bottom: 75px;
	}
	.wishlist-nxt-link {
	    float: inherit;
	}
	
}

@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.wishlist-entry-hdr-title {
	    font-size: 45px;
	}
	.wishlist-entry-hdr p{
		font-size: 20px;
		margin-bottom: 55px;
	}
	.wishlist-grd-items {
	    padding-top: 80px;
	}
	.wishlist-grd-item {
	    max-width: 300px;
	    width: 100%;
	    margin: 0 auto;
	}
	.wishlist-grd-item-ctlr {
	    display: inherit;
	}
	.wishlist-grd-item-img {
	    width: 100%;
	    min-height: 270px;
	    height: 100%;
	}
	.wishlist-grd-item-des {
	    width: 100%;
	    padding-left: 0;
	    padding-top: 40px;
	}
	.wishlist-process ul li {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.wishlist-process ul li strong{
		display: none;
	}
	
	
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	

}

@media(max-width: 479px){
	

}

@media(max-width: 359px){

}


