@font-face {
    font-family: 'CactusMedium';
    src: url('CactusMedium.eot');
    src: url('CactusMedium.eot?#iefix') format('embedded-opentype'),
        url('CactusMedium.woff2') format('woff2'),
        url('CactusMedium.woff') format('woff'),
        url('CactusMedium.ttf') format('truetype'),
        url('CactusMedium.svg#CactusMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

